* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

#bookList {
  width: 100%;
  border: 2px solid black;
}

.books {
  width: 100%;
}

.primaryContent {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

ul#bookList li:nth-child(odd) {
  background-color: rgb(201, 199, 199);
}

.rmv {
  border: 1px solid black;
  padding: 7px;
  background-color: white;
}

.forForm {
  width: 70%;
  margin: auto;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

input {
  width: 100%;
  margin: 10px;
  border: 2px solid black;
}

input::placeholder {
  color: black;
}

#add {
  border: 2px solid black;
  box-shadow: 5px 5px rgb(201, 199, 199);
  align-self: flex-end;
}

header {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
}

.menu-title {
  padding: 15px;
  margin: 0;
  font-size: 20px;
}

.menu-options {
  margin: 0;
  display: flex;
}

.menu-item {
  padding: 15px;
}

.divider {
  color: gray;
}

h2 {
 font-size: 40px;
}

.contact {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contact-paragraph {
  font-size: 25px;
  width: 70%;
}

.contact-list {
  list-style-type: disc;
}

.contact-info {
  font-size: 20px;
}

footer {
  border: 2px solid black;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

h3 {
  margin: 0;
  padding: 15px;
}

.copyright {
  width: 30%;
  padding: 15px;
  text-align: right;
}

.none {
  display: none;
}